@import './constants/colors.scss';
.AppContainer {
  background-color: $primary-background-color;
}

.FlexContainer {
  display: flex;
  .ColumnContaier {
    flex-direction: column;
  }
}

.App {
  width: 100%;
}

hr {
  width: 80%;
}

.SectionContainer {
  margin: 0 auto;
  width: 80%;
}
