@import './constants/colors.scss';
.AppContainer {
  background-color: $primary-background-color;
}

.FlexContainer {
  display: flex;
  .Bottom {
    align-self: flex-end;
  }
  .ColumnContainer {
    flex-direction: column;
  }
  .SpaceEvenly {
    justify-content: space-evenly;
  }
  .VerticalCenter {
    align-items: center;
  }
}

.App {
  transition: margin-left 0.5s;
  width: 100%;
}

hr {
  width: 80%;
}

.SectionContainer {
  margin: 0 auto;
  width: 80%;
}
