@import './constants/colors.scss';

.AppContainer {
  background-color: $primary-background-color;
}

.FlexContainer {
  display: flex;
  .ColumnContaier {
    flex-direction: column;
  }
}

.App {
  width: 100%;
}
