.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  > .nav-button--close {
    color: #818181;
    cursor: pointer;
    display: block;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    position: absolute;
    right: 25px;
    text-decoration: none;
    top: 0;
    transition: 0.3s;
  }

  > .nav-button--close:hover {
    color: #f3f3f3;
  }

  > .link-text {
    color: #f3f3f3;
    font-size: 25px;
    margin-left: 20px;
    width: 100%;
  }

  > .link-text:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.nav-button--open {
  cursor: pointer;
  font-size: 36px;
  padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
